@define-color orange #f88a07;
@define-color black #2e3440;
@define-color dark_gray #757c8a;
@define-color white #e0e2e7;
@define-color green #32d814;
@define-color red #e55561;
@define-color yellow #d9df0d;
@define-color blue #61afef;

* {
    padding: 1px 5px;
    border-radius: 8px;
}

window#waybar {
    background-color: transparent;
}

#workspaces {
    background-color: @black;
}

#workspaces button {
    color: @white;
}

#workspaces button.active {
    color: @orange;
}

#workspaces button.empty {
    color: @dark_gray;
}

#custom-power {
    min-width: 24px;
    font-size: 23px;
    font-weight: bold;
    background-color: @black;
    color: @red;
}

#clock {
    background-color: @black;
    color: @white;
}

#battery {
    background-color: @black;
    color: @green;
}

@keyframes blink-green-idle {
    0%   { color: @green; }
    5%   { color: @black; }
    10%  { color: @green; }
    15%  { color: @black; }
    20%  { color: @green; }
    100% { color: @green; }
}

#battery.full.charging {
    animation: blink-green-idle 5s linear infinite;
    font-weight: bold;
}

#battery.warning:not(.charging) {
    color: @orange;
}

@keyframes fade-red-black {
    0%   { color: #ff0000; }
    25%  { color: #800000; }
    50%  { color: #000000; }
    75%  { color: #800000; }
    100% { color: #ff0000; }
}

#battery.critical:not(.charging) {
    font-weight: bold;
    animation: fade-red-black 2s linear infinite;
}

#backlight {
    min-width: 51px;
    padding-right: 10px;
    background-color: @black;
    color: @yellow;
}

#network {
    min-width: 17px;
    padding-right: 10px;
    background-color: @black;
    color: @blue;
}

#network.disconnected {
    color: @red;
}

#bluetooth {
    min-width: 17px;
    background-color: @black;
    color: @blue;
}

#bluetooth.off {
    color: @red;
}

#pulseaudio {
    padding: 0 10px;
    background-color: @black;
    color: @white;
}

#cpu {
    min-width: 45px;
    background-color: @black;
    color: @orange;
}

#memory {
    min-width: 45px;
    background-color: @black;
    color: @green;
}

#disk {
    min-width: 50px;
    background-color: @black;
    color: @white;
}

#temperature {
    min-width: 40px;
    background-color: @black;
    color: @red;
}

@keyframes critical-blink {
  0% {
    background-color: black;
    color: red;
  }
  50% {
    background-color: red;
    color: black;
  }
  100% {
    background-color: black;
    color: red;
  }
}

#temperature.critical {
  animation: critical-blink 1s ease-in-out infinite;
  font-weight: bold;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}
