@define-color orange #f88a07;
@define-color dark #2e3440;
@define-color black #1e1e27;
@define-color dark_gray #757c8a;
@define-color white #e0e2e7;
@define-color green #32d814;
@define-color red #e55561;
@define-color yellow #d9df0d;
@define-color blue #61afef;

* {
    font-size: 22px;
    font-family: "Arimo Nerd Font Propo", sans-serif;
}

window#waybar {
    background-color: @dark;
    border-radius: 15px;
}

#workspaces {
    background-color: @dark;
}

#workspaces button {
    color: @white;
}

#workspaces button:hover {
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    background: none; /* Remove predefined background color (white) */
    transition: none; /* Disable predefined animations */
    border: none; /* Remove predefined border color (white) */
    padding: 0px 10px;
}

#workspaces button.active {
    color: @orange;
}

#workspaces button.empty {
    color: @dark_gray;
}

#custom-power {
    min-width: 35px;
    font-size: 25px;
    font-weight: bold;
    color: @blue;
    border: 2px solid @blue;
    border-radius: 50%;
    padding-bottom: 3px;
}

#clock {
    color: @white;
    border-bottom: 2px solid @white;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 5px;
}

#battery {
    color: @green;
    border-bottom: 2px solid @green;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

#battery.warning:not(.charging) {
    color: @orange;
    border-bottom: 2px solid @orange;
}

@keyframes fade-red-black {
0%   { color: #ff0000; border-bottom-color: #ff0000; }
25%  { color: #800000; border-bottom-color: #800000; }
50%  { color: #550000; border-bottom-color: #550000; }
75%  { color: #800000; border-bottom-color: #800000; }
100% { color: #ff0000; border-bottom-color: #ff0000; }
}

#battery.critical:not(.charging) {
    font-weight: bold;
    animation: fade-red-black 0.7s linear infinite;
}

#backlight {
    min-width: 85px;
    padding-right: 10px;
    color: @yellow;
    border-bottom: 2px solid @yellow;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0px 5px;
}

#network {
    color: @blue;
    border-bottom: 2px solid @blue;
}

#network.wifi {
    padding-left: 5px;
    padding-right: 5px;
}

#network.ethernet {
    min-width: 30px;
    padding-right: 5px;
}

#network.disconnected {
    color: @red;
    border-bottom: 2px solid @red;
    min-width: 30px;
    padding-right: 7px;
}

#bluetooth {
    min-width: 17px;
    color: @red;
    border-bottom: 2px solid @red;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0px 5px;
}

#bluetooth.connected,
#bluetooth.on {
    color: @blue;
    border-bottom: 2px solid @blue;
}

#pulseaudio {
    min-width: 110px;
    padding: 0 10px;
    color: @white;
    border-bottom: 2px solid @white;
    margin-left: 3px;
    margin-right: 3px;
}

#cpu {
    min-width: 45px;
    color: @orange;
    border-bottom: 2px solid @orange;
    margin-left: 15px;
    margin-right: 3px;
    padding: 0px 5px;
}

#memory {
    min-width: 45px;
    color: @green;
    border-bottom: 2px solid @green;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0px 5px;
}

#disk {
    min-width: 50px;
    color: @white;
    border-bottom: 2px solid @white;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0px 5px;
}

#temperature {
    min-width: 40px;
    color: @red;
    border-bottom: 2px solid @red;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0px 5px;
}

@keyframes critical-blink {
0% {
    background-color: @dark;
    color: @red;
}
50% {
    background-color: @red;
    color: @dark;
}
100% {
    background-color: @dark;
    color: @red;
}
}

#temperature.critical {
    animation: critical-blink 1s ease-in-out infinite;
    font-weight: bold;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}
