@define-color blue #61afef;
@define-color dark #2e3440;
@define-color white #e0e2e7;
@define-color dark_gray #44475a;

window {
    margin: 0px;
    border: 1px solid @blue;
    background-color: @dark;
}

#input {
    margin: 5px;
    border: none;
    color: @white;
    background-color: @dark_gray;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @dark;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @dark;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @white;
} 

#entry.activatable #text {
    color: @dark;
}

#entry > * {
    color: @white;
}

#entry image {
    margin-right: 10px;
    min-width: 20px;
    min-height: 20px;
}

#entry:selected {
    background-color: @dark_gray;
}

#entry:selected #text {
    font-weight: bold;
}
